{% extends 'you_know/base.html' %}

{% block head %}
<title>You Know(詳細なタイトルは後で決める)</title>
{% endblock %}

{% block h1 %}
{% endblock %}

{% block header %}
<nav class="menu-wrap">
  <ul class="menu">
    <li></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2 class="center">Hello, {{ user.username }}</h2>
<h3>リンクは後で整理する</h3>
<a href="{% url 'you_know:library' %}">ライブラリ</a>
<a href="{% url 'you_know:profile' user.username %}">プロフィール</a>
<a href="{% url 'you_know:password_change' %}">パスワードの変更</a>
<a href="{% url 'you_know:logout' %}" class="btn btn-primary">Logout</a>
{% else %}
<h2 class="center">
  <a href="{% url 'you_know:signup' %}" class="btn btn-primary">Signup</a>
  <a href="{% url 'you_know:login' %}" class="btn btn-primary">Login</a>
</h2>
{% endif %}
{% endblock %}
