{% extends 'you_know/base.html' %}

{% block head %}
<title>ログインパスワードリセット</title>
{% endblock %}

{% block h1 %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<article>
  <form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <section class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
      {{ field }}
      {{ field.errors }}
    </section>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block">送信</button>
  </form>
</article>
{% endblock %}
